
<p class="header_report mt-4">Báo cáo kỹ thuật</p>
<div class="mt-4 form-data_input">
    <form method="POST" action="/">
    <div class="mb-3">
        <label for="name-input" class="form-label">Tên kỹ thuật:</label>
        <select name="n-staff" class="form-select form-select-lg mb-3 ps-5" aria-label=".form-select-lg example">
            <option selected>-- Tên kỹ thuật --</option>
            <option value="1">Trương Đức Anh</option>
            <option value="2">Châu Hải Thạch</option>
            <option value="3">Trương Văn Việt</option>
            <option value="3">Nguyễn Trường Sang</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="date-input" class="form-label">Ngày:</label>
        <input type="date" name="date" class="form-control form-input_focus" id="date-input">
    </div>
    <div class="mb-3">
        <label for="name-input" class="form-label">Tên kỹ thuật:</label>
        <select name="n-job" class="form-select form-select-lg mb-3 ps-5" aria-label=".form-select-lg example">
            <option selected>-- Chọn --</option>
            <option value="1">Lắp mới</option>
            <option value="2">Lắp lại</option>
            <option value="3">Thu đổi</option>
            <option value="4">Nâng cấp</option>
            <option value="5">Thu hồi</option>
            <option value="6">Thu phí</option>
            <option value="7">Thu công nợ</option>
            <option value="8">Tháo</option>
            <option value="9">Calip lần đầu</option>
            <option value="10">Tháo</option>
            <option value="11">Lắp dùm ĐL</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>