<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-inpput" class="form-label">Từ khoá</label>
            <input type="text" name="q" class="form-control" id="search-inpput" aria-describedby="Nhập từ khoá...">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>